/* Main style for the Web Application */
*{margin: 0; padding: 0; box-sizing: border-box;}

:root{
    --background: #ffffff;
    --primary: #5B913B;
    --secondary: #e6e6e6;
    --accent: #ECE852;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background);
}

/* Navbar Section */
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary);
    color: white;
    padding-top: 20px;
}
.sidebar a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}
.sidebar a:hover {
    background-color: var(--accent);
    color: #000000;
}
.navbar {
    margin-left: 250px;
    background: var(--accent);
    border-bottom: 1px solid #dee2e6;
}
.content {
    margin-left: 250px;
    padding: 20px;
}


/* User Div Elements */
.user-card{
    background: var(--secondary);
}
